<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="jdbc.properties"></properties>

	<settings>
		<setting name="cacheEnabled" value="false"/>
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="multipleResultSetsEnabled" value="true"/>
		<setting name="useColumnLabel" value="true"/>
		<setting name="useGeneratedKeys" value="false"/>
		<setting name="defaultExecutorType" value="SIMPLE"/>
		<setting name="defaultStatementTimeout" value="25000"/>
	</settings>

	<typeAliases>
		<typeAlias alias="DRUID" type="com.penglecode.mybatis.ex.test.datasource.DruidDataSourceFactory"/>
		
		<typeAlias alias="Product" type="com.penglecode.mybatis.ex.test.bean.Product"/>
		<typeAlias alias="MainOrder" type="com.penglecode.mybatis.ex.test.bean.MainOrder"/>
		<typeAlias alias="ChildOrder" type="com.penglecode.mybatis.ex.test.bean.ChildOrder"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="DRUID">
				<property name="driver" value="${jdbc.driverClassName}"/>
				<property name="username" value="${jdbc.username}"/>
				<property name="password" value="${jdbc.password}"/>
				<property name="url" value="${jdbc.url}"/>
				<property name="initialSize" value="${jdbc.initialSize}"/>
				<property name="maxActive" value="${jdbc.maxActive}"/>
				<property name="minIdle" value="${jdbc.minIdle}"/>
				<property name="maxWait" value="${jdbc.maxWait}"/>
				<property name="timeBetweenEvictionRunsMillis" value="${jdbc.timeBetweenEvictionRunsMillis}"/>
				<property name="defaultAutoCommit" value="${jdbc.defaultAutoCommit}"/>
				<property name="connectionProperties" value="${jdbc.connectionProperties}"/>
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="mybatis/mapper/ProductMapper.xml"/>
		<mapper resource="mybatis/mapper/MainOrderMapper.xml"/>
		<mapper resource="mybatis/mapper/ChildOrderMapper.xml"/>
	</mappers>
</configuration>