<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penglecode.mybatis.ex.test.bean.ProductMapper">

	<insert id="insertProduct" parameterType="Product" statementType="PREPARED">
		INSERT INTO t_product(
			product_id,
			product_name,
			unit_price,
			freight,
			product_type,
			description,
			status,
			create_time
		) VALUES (
			#{productId, jdbcType=BIGINT},
			#{productName, jdbcType=VARCHAR},
			#{unitPrice, jdbcType=NUMERIC},
			#{freight, jdbcType=NUMERIC},
			#{productType, jdbcType=VARCHAR},
			#{description, jdbcType=VARCHAR},
			#{status, jdbcType=VARCHAR},
			#{createTime, jdbcType=VARCHAR}
		)
	</insert>
</mapper>